/* PAGINA CONTACTO-CONFIGURACIÓN*/

.contacto {
    padding-top: 30px;
    padding-bottom: 30px;
    color:$colorTextoNegro;
    text-align:center;
    background-image: url(https://img.freepik.com/foto-gratis/textura-fondo_1404-117.jpg?t=st=1657489217~exp=1657489817~hmac=a48de897ce52a190df9709f6a14c32686410e3eee154dc11e251ba5bbda42683&w=740);
    background-size: cover;    
}
.contacto-fondo-texto{
    background-color: rgba(211, 196, 196, 0.282);    
}
/* PAGINA CONTACTO-CONFIGURACIÓN RESPONSIVE IPHONE 12PRO*/
@media screen and (max-width:390px) {
    .contacto{
        display: grid;
        grid-template-columns: 1fr;
        font-size: 15px;
        text-align: center;
    }
    .formulario{
        width: 350px;
    }
    #comentarios{
        width: 320px;
        margin: 20px;
    }
}
