/*CONFIGURACIÓN MENÚ TIENDA*/

/*grilla catálogo productos*/
.catalogo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 20px;
    padding: 50px;
    justify-items: center;
    background-image: url(https://img.freepik.com/vector-gratis/pared-piso-madera-superficie-envejecida-realista_107791-682.jpg?t=st=1657488116~exp=1657488716~hmac=2b03aeebbf76f42c785a9bf8f5074d186e5486a5f8ef3d70b38c4af135af9f84&w=996);
}

/*estilo tarjeta catalogo productos*/

.tarjeta{
    width: 300px;
    height: auto;
    padding: 20px;
    border: solid 1px white;
    border-radius: 20px;
    text-align: center;
    background-color: #8791519f;
    &:hover{
        transform: scale(1.10,1.10);
        transition: 2s;
    }
}
.tarjeta-1{
    @extend.tarjeta;
    &:hover{
        transform: scale(1.08,1.08);
        background-color: $colorGrillaHover;
        transition: 2s;
    }
}



    

/*CONFIGURACIÓN MENÚ TIENDA RESPONSIVE IPHONE 12PRO*/
@media screen and (max-width:390px) {
    .catalogo{
        display: grid;
        grid-template-columns: 1fr;
    }
}
