/* CONFIGURACIONES HEADER LOGO Y BARRA MENU PARA TODAS LAS PAGINAS*/

.logo-emprendimiento{
    text-decoration: none;
    font-family: italiana;
    font-size: 2.22rem;    
    align-items: center;
    align-content: center;
    text-align: center;
    color: #ffffff;
}
.estilo-nav {
    background-color:$pageBackground;
    height:3.89rem;
    width:auto;
}
.header-menu-0{
    justify-content: end;
}

.header-menu{
    list-style-type: none;
    border: 1px solid $buttonBackground ;
    border-radius: 0.28rem;
    margin: 0.1rem;
    background-color:  $buttonBackground;
    text-align: center;
    justify-content: end;
    font-size: 1.11rem;
    height: auto;
    a{
        color: #c7ab3ce7;
    }
}
.nav-item{
    position: relative;
    z-index: 1000;
}

/*RESPONSIVE NAV BAR*/
@media screen and (max-width:390px) {
   .logo-emprendimiento{
    font-size: 1.28rem;
   }
}
