$pageBackground:#73A875;
$buttonBackground: #4E7E50;
$fondoComun:#DDE7A1;
$colorTextoNegro:rgb(35, 35, 35);
$colorGrillaHover:#b08854;
$buttonComprar: rgb(69, 67, 67);
$colorFondoTarjetas: #8791519f;
$colorBotonVer:  rgb(177, 250, 177);
$colorBotonComprar: rgb(137, 227, 137);
$colorBotonGuardar:  rgb(99, 154, 99);